<ion-header>
  <ion-toolbar>
    <ion-title>Driver</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h1>Orders Ready to Deliver</h1>
        <ion-card *ngFor="let order of unclaimedOrders()">
          <ion-card-header>
            <ion-card-title>{{ order.restaurant.name }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-text
              >{{ order.customer.firstName }}
              {{ order.customer.lastName }}</ion-text
            ><br />
            <ion-text>{{ order.address.line1 }}</ion-text>
            <ion-text>{{ order.address.line2 }}</ion-text
            ><br />
            <ion-text
              >{{ order.address.city }}, {{ order.address.state }}
              {{ order.address.zip }}</ion-text
            >
          </ion-card-content>
          <ion-button (click)="claimOrder(order)" expand="block"
            >Claim</ion-button
          >
        </ion-card>
      </ion-col>
      <ion-col>
        <h1>Your Orders</h1>
        <ion-card *ngFor="let order of myOrders()">
          <ion-card-header>
            <ion-card-title>{{ order.restaurant.name }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-text
              >{{ order.customer.firstName }}
              {{ order.customer.lastName }}</ion-text
            ><br />
            <ion-text>{{ order.address.line1 }}</ion-text>
            <ion-text>{{ order.address.line2 }}</ion-text
            ><br />
            <ion-text
              >{{ order.address.city }}, {{ order.address.state }}
              {{ order.address.zip }}</ion-text
            >
            <ion-select
              (ionChange)="updateOrder(order)"
              [(ngModel)]="order.status"
              [ngModelOptions]="{ standalone: true }"
              placeholder="Status"
            >
              <ion-select-option value="preparing">Preparing</ion-select-option>
              <ion-select-option value="ready"
                >Ready For Delivery</ion-select-option
              >
              <ion-select-option value="delivering"
                >On the way</ion-select-option
              >
              <ion-select-option value="delivered">Delivered</ion-select-option>
            </ion-select>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
