<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ restaurant.name }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="myOrders()">
        <ion-icon name="list"></ion-icon> My Orders
      </ion-button>
      <ion-button (click)="checkout()">
        <ion-icon name="cart"></ion-icon> Checkout {{ numItemsInCheckout }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <ion-text>
          <h1>{{ restaurant.name }}</h1>
        </ion-text>
        <ion-img [src]="restaurant.img"></ion-img>
      </ion-col>
      <ion-col size="8">
        <h2>Menu</h2>
        <ion-list>
          <ion-item *ngFor="let item of items">
            <ion-label>{{ item.name }} - ${{ item.price }}</ion-label>
            <ion-button (click)="onSelect(item)">Add to Cart</ion-button>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
