ion-content {
  --background: #fff url("../../../assets/images/original.jpg") no-repeat center
    center / cover;
}
h1 {
  font-size: 3em;
  color: #c70909;
}

h2 {
  font-size: 2em;
  color: navy;
}

.box {
  background: white;
  width: 300px;
  border-radius: 6px;
  margin: 0 auto 0 auto;
  padding: 0px 0px 70px 0px;
  border: #2980b9 4px solid;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.account-type-select {
  background-color: 1px solid #d7d7d7;
  border: 1px solid #ccc;
  margin: 10px;
}

.boxContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
