<ion-header>
  <ion-title></ion-title>
</ion-header>

<ion-content padding>
  <ng-template #showLogin>
    <form method="post" action="login.page.html">
      <div class="box">
        <div text-center>
          <h1>Rebel Runs</h1>
          <h2>Please Login</h2>
          <ion-select
            [(ngModel)]="accountType"
            [ngModelOptions]="{ standalone: true }"
            okText="Okay"
            cancelText="Dismiss"
          >
            <ion-select-option value="customer">Customer</ion-select-option>
            <ion-select-option value="owner">Owner</ion-select-option>
            <ion-select-option value="driver">Driver</ion-select-option>
          </ion-select>
          <ion-button
            color="tertiary"
            block
            shape="round"
            fill="solid"
            (click)="login()"
            >Log in With Google</ion-button
          >
          <ion-button
            color="dark"
            block
            shape="round"
            fill="solid"
            (click)="login()"
            >Sign Up With Google</ion-button
          >
        </div>
      </div>
      <!-- End Box -->
    </form>
  </ng-template>
</ion-content>
