<ion-header>
  <ion-toolbar>
    <ion-title>
      Restaurants
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="myOrders()">
        <ion-icon name="list"></ion-icon> My Orders
      </ion-button>
      <ion-button (click)="myMessages()">
        <ion-icon name="mail"></ion-icon> Messages {{ messages.length }}
      </ion-button>
      <ion-button (click)="checkout()">
        <ion-icon name="cart"></ion-icon> Checkout {{ numItemsInCheckout }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col
        sizeXs="12"
        sizeSm="6"
        sizeMd="4"
        sizeLg="3"
        sizeXl="3"
        *ngFor="let restaurant of restaurants"
      >
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{ restaurant.name }}</ion-card-title>
          </ion-card-header>
          <img [src]="restaurant.img" />
          <ion-card-content>
            <ion-button expand="full" (click)="open(restaurant.id)"
              >View Menu</ion-button
            >
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
