<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ restaurant.name }} (Owner: Menu)</ion-title>
    <ion-button slot="end" (click)="createItem(restaurant.id)">
      Add Item
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <ion-img [src]="restaurant.img"></ion-img>
        <p>{{ restaurant.address }}</p>
        <p>{{ restaurant.pnumber }}</p>
      </ion-col>
      <ion-col size="8">
        <h2>Menu</h2>

        <ion-row>
          <ion-col
            sizeXs="12"
            sizeSm="6"
            sizeMd="4"
            sizeLg="3"
            sizeXl="3"
            *ngFor="let item of items"
          >
            <ion-card>
              <img [src]="item.img" />
              <ion-card-content>
                <h1>{{ item.name }}</h1>
                <ion-text>
                  <p><b>Description:</b> {{ item.description }}</p>
                </ion-text>

                <ion-text>
                  <p><b>Price:</b> ${{ item.price }}</p>
                </ion-text>

                <ion-text>
                  <p><b>Cooktime:</b> {{ item.cooktime }} minutes</p>
                </ion-text>
                <ion-row>
                  <ion-col size="6">
                    <ion-button (click)="editItem(item.id)" expand="full"
                      >Edit</ion-button
                    >
                  </ion-col>
                  <ion-col size="6">
                    <ion-button
                      (click)="deleteItem(item.id)"
                      color="danger"
                      expand="full"
                      >Delete</ion-button
                    >
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
