<ion-header>
  <ion-toolbar
    ><ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ restaurant.name }} (Owner: Menu)</ion-title>
    <ion-button slot="end" (click)="createItem(restaurant.id)">
      Add Item
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <ion-img [src]="restaurant.img"></ion-img>
      </ion-col>
      <ion-col size="8">
        <h2>Menu</h2>

        <ion-row>
          <ion-col size="3" *ngFor="let item of items">
            <ion-card>
            <img [src]="item.img" />
            <ion-card-content>
                 
                <ion-item>
                  <ion-label> {{ item.name }} </ion-label>
                </ion-item>

                <ion-text>
                  <p>Description: {{ item.description }}</p>
                </ion-text>

                <ion-text>
                  <p>Price: ${{ item.price }}</p>
                </ion-text>

              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
