<ion-header>
  <ion-toolbar>
    <ion-title>Checkout</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="myOrders()">
        <ion-icon name="list"></ion-icon> My Orders
      </ion-button>
      <ion-button (click)="checkout()">
        <ion-icon name="cart"></ion-icon> Checkout {{ items.length }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid *ngIf="items.length === 0">
    <h1>Your cart is empty</h1>
    <ion-button (click)="backToRestaurants()">Return to restaurants</ion-button>
  </ion-grid>

  <ion-grid *ngIf="items.length > 0">
    <ion-row>
      <ion-col size="5">
        <h1>We need your information</h1>
        <ion-item>
          <ion-label position="floating">First Name</ion-label>
          <ion-input [(ngModel)]="firstName"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Last Name</ion-label>
          <ion-input [(ngModel)]="lastName"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Address Line 1</ion-label>
          <ion-input [(ngModel)]="addressLine1"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Address Line 2</ion-label>
          <ion-input [(ngModel)]="addressLine2"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">City</ion-label>
          <ion-input [(ngModel)]="city"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">State</ion-label>
          <ion-input [(ngModel)]="state"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Zip Code</ion-label>
          <ion-input [(ngModel)]="zip"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col offset="1" size="6">
        <h1>{{ restaurant.name }}</h1>
        <h4>Delivery Time: 35 - 45 minutes</h4>
        <h4>Cart Items</h4>
        <ion-card *ngFor="let item of items">
          <ion-card-header>
            <ion-card-subtitle>{{ item.name }}</ion-card-subtitle>
            <ion-card-title>{{ item.price }}</ion-card-title>
          </ion-card-header>
        </ion-card>
        <p>Total: ${{ total }}</p>
        <ion-button (click)="placeOrder()">Order Now</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
